
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

body{
    width: 100vh;
    height: 100vw;
    background: linear-gradient(90deg,#811f6f, rgb(38, 30, 30));
}
.calc{
    height: 300px;
    width:250px;
    background:whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%  50% );
    box-shadow: 0 0 10px #000;
}
.top{
    height: 20%;
    width:100%;
}
#screen{
    height: 100%;
    width:100%;
    background: none;
    font-size: right;
    padding-right: 1%;
}
.bottom{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
button{
    height: 20%;
    width: 25%;
    border: 2%;
    background-color: #f3aef3;
    font-size: 32px;
    border-radius: 8px;
    
}

.spec{
    background: #fa3771;
}
button:hover{
    background: #ff7ea5;

}


